body {
    background-color: #5C2D73;
}

* {
    box-sizing: border-box;
    margin: 0px;
}
.top-half {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: solid black;
}

.top-left {
    width: 75%;
    background-color: #F2D7F5;
    padding: 20px;
    padding-top: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 100px;
}

.top-right {
    width: 25%;
    background-color: #F2D7F5;
    padding: 20px;
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 0px;
}

.data-entry {
    width: 100%;
    height: 400px;
    border: solid black;
    border-radius: 10px;
    background-color: #A64DA6;
    text-align: left;
    flex-direction: row;
}

.data-filter {
    height: 400px;
    border: solid black;
    border-radius: 10px;
    background-color: #A64DA6;
}
.box-label {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
}
.bottom-half {
    background-color: #F2D7F5;
    display: flex;
    width: 80%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right:auto;
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
}

.output {
    width: 70%;
    height: 600px;
    border: solid black;
    border-radius: 10px;
    align-items: left;
    margin: 20px;
    margin-top: 0px;
    background-color: #A64DA6;
}

.line {
    width: 80%;
    height: 2px;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
}

.form-top {
    width: 100%;
    height: 20%;
    border-bottom: solid black;
    display: flex;
}

.form-bottom {
    width: 100%;
    height: 80%;
    display: flex;
}
.submit-form, .submit-filter {
    height: 100%;
    width: 100%;
}
.form-top-left {
    width: 70%;
    height: 100%;
    border-right: solid black;
}
.form-top-right {
    width: 30%;
    height: 100%;
}
.input-name {
    width: 30%;
    height: 100%;
    display: border-box
}
.border {
    width: 100%;
    height: 33.3%;
}
.form-line {
    width: 100%;
    height: 0px;
    border-bottom: solid black;
}
.divide-line {
    height: 100%;
    width: 0px;
    border-left: solid black;
}
.input-box {
    width: 100%;
    height: 100%;
    display: border-box;
}
.input-border {
    width:100%;
    height: 33.3%;
}
.filter-div {
    width: 100%;
    height: 33.3%
}
.margin {
    margin-top: 5px;
    margin-left: 5px;
}
.padding {
    padding-top: 5px;
    padding-left: 5px;
}
.logo1 {
    width: 10%;
    height: auto;
    margin-left: 10%;
    padding: 5px;

}
.logo2 {
    width: 10%;
    height: auto;
    margin-right: 10%;
    padding: 5px;
}
.header1 {
    color: #F2D7F5;
    font-size: 5vw;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
.headerDiv {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    background-size: contain;
}